
footer {
    width: 100%;
    height: fit-content;
  }
  
  .feedback {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #19849B;
    padding: 21px 26px 20px 26px;
  
  }
  
  .feedback-avatar {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 50px;
  }
  
  
  .name {
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 6px;
  
  }
  
  .phone {
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-bottom: 6px;
  }
  
  .country {
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
  
  }
  
  .footer{
    height: 44px;
    background: #16758A;
    text-align: center;
    padding-top: 17px;
    color: #fff;

  }
  